.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.spacearound{
  justify-content: space-around;
}

.width20{
  width: 15%;
}

.width5{
  width: 2% !important;
}

.width10{
  width: 16%;
}

.mb2{
  margin-bottom: 2%;
}

.App-link {
  color: #61dafb;
}
.bottom{
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
}

.spacebetween{
  justify-content: space-between;
}
.justcenter{
  justify-content: center;
}
.lit1{
  width: 30%;
}

.flex{
  display: flex;
}

.halfwidth{
  width: 48%;
}

.width{
  width: 100%;
}

.aligncenter{
  align-items: center;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}

.mt2{
  margin-top: 2% !important;
}

.mb10{
  margin-bottom: 10% !important;
}

.mb5{
  margin-bottom: 5% !important;
}
.wrap{
  flex-wrap: wrap;
}

.vertical-center1 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 33%;
  text-align: center;
}

.ti{
  text-decoration: none;
  color: inherit;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
